<!DOCTYPE html>
<html>
  <head>
    <title>ScaffoldRails7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application-sass", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application-tailwind", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
